body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: aquamarine;
}

#score {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restartButton:hover {
    background-color: #45a049;
}

